
<!-- <div class="container"> -->
    <div class="row">
      {{> navSliderUsers}}

      <div class="col-9">
          <div class="row py-4">
            <div class="mx-auto d-block">
              <img class="rounded-circle" src="img/img.png" width="150" height="150">
              <p class="text-center">User. Nilton</p>
            </div>
          </div>

          <div class="row py-2 ">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  Datos principales:
                </div>
                <div class="card-body">

                  <div class="row">
                    <div class="col">
                      <label class="text-right">Nombre: </label>
                    </div>
                    <div class="col">
                      <label class="text-left">{{name}}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <label class="text-right">Apellido: </label>
                    </div>
                    <div class="col">
                      <label class="text-left">{{apellido}}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <label class="text-right">Correo: </label>
                    </div>
                    <div class="col">
                      <label class="text-left">{{email}}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <label class="text-right">Sexo: </label>
                    </div>
                    <div class="col">
                      <label class="text-left">{{sexo}}</label>
                    </div>
                  </div>

                  <!-- para ir a perfilUser y modificar o añadir datos -->
                  <a href="/perfilUserDatos1">Editar</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row py-2">
            <div class="col-7 px-2">
              <div class="card">
                <div class="card-header">
                  Mis datos complementarios:
                </div>
                <div class="card-body">

                  <div class="row">
                    <div class="col">
                      <label class="text-right">DNI: </label>
                    </div>
                    <div class="col">
                      <label class="text-left">{{dni}}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <label class="text-right">Estado: </label>
                    </div>
                    <div class="col">
                      <label class="text-left">{{estadoCivil}}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <label class="text-right">Telefono: </label>
                    </div>
                    <div class="col">
                      <label class="text-left">{{numeroTelefono}}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <label class="text-right">Celular: </label>
                    </div>
                    <div class="col">
                      <label class="text-left">{{numeroCelular}}</label>
                    </div>
                  </div>


                  <!-- redirecciona para editar o actualizar datos complementarios -->
                  <a href="/perfilUserDatos2">Editar</a>
                </div>
              </div>
            </div>
            <div class="col-5 px-2">
              <div class="card">
                <div class="card-header">
                  Mis citas
                </div>
                <div class="card-body">
                  información
                </div>
              </div>
            </div>
          </div>

          <div class="row py-2">
            <div class="col-5">
              <div class="card">
                <div class="card-header">
                  Afiliado A:
                </div>
                <div class="card-body">
                  <!-- aqui se pone el cuerpo -->
                </div>
              </div>
            </div>
            <div class="col-7">
              <div class="card">
                <div class="card-header">
                  Mi Ubicacion
                </div>
                <div class="card-body">
                <img class="card-img" src="img/mapa.png">
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
<!-- </div> -->
